secrets:
  aws:
    - name: js_mgmt
      aws_access_key_id: "frank"
      aws_secret_access_key: "geoff"

user:
  ssh_username: "joe.bloggs"
  initials: "jb"
  full_name: "Joe Blogs"
  email: "joe.blogs@example.com"

options:
  docker: false
  docker_compose: false
  docker_ipv6: false

ssh:
  accounts:
    - account: dpp
      domain: data-platform.io
      envs:
        - dev-{{ user.initials }}1
        - dev-{{ user.initials }}2
        - dev-{{ user.initials }}3
        - dev-{{ user.initials }}-work
        - dev-{{ user.initials }}
        - mgt
        - preprd2
        - dev2
        - mgt
        - tst-free
        - tst-full
        - tst
    - account: dpp2
      domain: js-data-platform.io
      envs:
        - prd2
        - prd
        - mgt
  bastions:
    - host: some-host
      ip: 127.0.0.1

vagrant_user: vagrant
